@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');


@media screen and (min-width: 768px) {
    main div.geo {
        min-width: 600px;
        min-height: 480px;
    }

    main div.geo img {
        min-width: 600px;
        border-radius: 20px 20px 0px 0px;
        height: 300px;
    }

    h2 {
        font-size: 2em;
    }    

    nav a {
        font-size: 19px;
    }

    main div#divum {
        font-size: 1.5em;
    }

    main div#divdois {
        font-size: 1.4em;
    }

    main div#divtres div {
        max-width: 60%;
    }
}

@media screen and (min-width: 1020px) {
    h2 {
        font-size: 2.3em;
    }

    main div.geo {
        min-width: 900px;
        min-height: 750px;
        /*position: relative;*/
    }

    main div.geo img {
        /*display: block;
        position: absolute;**/
        /*min-width: 400px;*/
        /*border-radius: 20px;*/
        height: 400px;
        float: right;
        width: 60%;
        height: 85%;

        /*top: 18%;*/
    }

    main div.geo audio {
        display: block;
        transform: translate(0px, 30px);
    }

    main div.geo p {
        font-family: var(--texto);
        padding-top: 29%;
        text-align: center;
        color: white;
        font-size: 1.2em;
    }

    main div#divum {
        font-size: 2em;
    }

    main div#divtres div {
        max-width: 60%;
    }
}